# Environment & secrets
.env
venv/
venv_py311/

# Python cache
__pycache__/
*.pyc

# Streamlit
.streamlit/

# Qdrant local data
qdrant_data/
faiss_mva_index/
# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
